:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --background-color: #ffffff;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
}
.logo-color {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
}
.menu-link:hover,
.menu-link:focus {
  text-decoration: underline;
  color: var(--hover-color);
}
.list-address-link {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.list-address-link:hover,
.list-address-link:focus {
  color: var(--hover-color);
}
.button-filters {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--accent-color);
  background-color: #f4f4fd;
}
.button-filters:hover,
.button-filters:focus {
  color: var(--background-color);
  background-color: var(--hover-color);
}
.project-cards-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--primary-color);
}
.project-cards-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--secondary-color);
}
